In [68]:
import pandas as pd
import numpy as np
import pickle
import tensorflow

In [69]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [70]:
data = data.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [71]:
# LOADING THE ENCODERS

with open('label_encoder_gender.pkl','rb') as file : 
    gender_encoder = pickle.load(file)
with open('one_hot_encoder_geo.pkl','rb') as file:
    geo_encoder = pickle.load(file)

In [72]:
data['Gender'] = gender_encoder.transform(data['Gender'])

In [73]:
encoded_geo = geo_encoder.transform(data[['Geography']])

In [74]:
geo_df = pd.DataFrame(encoded_geo.toarray(),columns=geo_encoder.get_feature_names_out())

In [75]:
data = pd.concat([data,geo_df],axis=1)
data = data.drop(columns=['Geography'],axis=1)

In [76]:
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [77]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [78]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_values = scaler.fit_transform(X_test)
scaled_values

array([[-5.12501721e-01,  9.09111664e-01, -6.77299309e-01, ...,
        -1.02020406e+00,  1.73668197e+00, -5.63491843e-01],
       [-2.36046598e-01,  9.09111664e-01,  3.84298354e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [-4.61306328e-01, -1.09997489e+00,  4.80807232e-01, ...,
        -1.02020406e+00, -5.75810666e-01,  1.77464858e+00],
       ...,
       [ 8.59534812e-01, -1.09997489e+00,  7.70333868e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [ 4.70449825e-01,  9.09111664e-01, -9.66825944e-01, ...,
         9.80196059e-01, -5.75810666e-01, -5.63491843e-01],
       [-1.84851205e-01,  9.09111664e-01, -1.73715981e-03, ...,
        -1.02020406e+00,  1.73668197e+00, -5.63491843e-01]])

In [82]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard ##IMPORTANT
import datetime

In [83]:
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) #linear activation function for default
])


model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\ASUS\Desktop\University of Luxembourg\Udemy\Learning GenAI\NLP\Churn Classification\annclassification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\ASUS\Desktop\University of Luxembourg\Udemy\Learning GenAI\NLP\Churn Classification\annclassification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [84]:
# SET UP THE TENSORBOARD TO PRINT LOGS

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)
early_stopping_callback = EarlyStopping(monitor="val_loss", patience = 10, restore_best_weights=True)

history = model.fit(
    X_train,y_train, validation_data = (X_test,y_test), epochs = 100,
    callbacks = [tensorflow_callback, early_stopping_callback]    
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\ASUS\Desktop\University of Luxembourg\Udemy\Learning GenAI\NLP\Churn Classification\annclassification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\ASUS\Desktop\University of Luxembourg\Udemy\Learning GenAI\NLP\Churn Classification\annclassification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 70466.6719 - mae: 70466.6719 - val_loss: 65833.0781 - val_mae: 65833.0781
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 63192.7773 - mae: 63192.7773 - val_loss: 58280.7109 - val_mae: 58280.7109
Epoch 3/100
250/250 [==============================] - 1s 5ms/step - loss: 54976.6172 - mae: 54976.6172 - val_loss: 51727.9492 - val_mae: 51727.9492
Epoch 4/100
250/250 [==============================] - 2s 6ms/step - loss: 52118.6055 - mae: 52118.6055 - val_loss: 51289.9648 - val_mae: 51289.9648
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 51882.8867 - mae: 51882.8867 - val_loss: 50796.0469 - val_mae: 50796.0469
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 51528.7539 - mae: 51528.7539 - val_loss: 50546.6914 - val_mae: 50546.6914
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 51506.5625 - mae: 51506.5625 - val_loss: 50573.9609 - val_mae: 50573.9609
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 51286.4023 - mae: 51286.4023 - val_loss: 50417.5508 - val_mae: 50417.5508
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 51326.7578 - mae: 51326.7578 - val_loss: 51455.1289 - val_mae: 51455.1289
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 51418.7305 - mae: 51418.7305 - val_loss: 50376.9375 - val_mae: 50376.9375
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50980.1797 - mae: 50980.1797 - val_loss: 50325.6133 - val_mae: 50325.6133
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 51327.2539 - mae: 51327.2539 - val_loss: 50684.9062 - val_mae: 50684.9062
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 51014.8281 - mae: 51014.8281 - val_loss: 50366.1992 - val_mae: 50366.1992
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 51221.9102 - mae: 51221.9102 - val_loss: 50442.5469 - val_mae: 50442.5469
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50960.6133 - mae: 50960.6133 - val_loss: 50563.5000 - val_mae: 50563.5000
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50927.0664 - mae: 50927.0664 - val_loss: 50560.1094 - val_mae: 50560.1094
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 51100.0742 - mae: 51100.0742 - val_loss: 50535.6914 - val_mae: 50535.6914
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50932.9102 - mae: 50932.9102 - val_loss: 50545.6953 - val_mae: 50545.6953
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 50988.5938 - mae: 50988.5938 - val_loss: 50916.9102 - val_mae: 50916.9102
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 51096.6094 - mae: 51096.6094 - val_loss: 50314.6914 - val_mae: 50314.6914
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 51114.7305 - mae: 51114.7305 - val_loss: 50307.4492 - val_mae: 50307.4492
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 50835.3125 - mae: 50835.3125 - val_loss: 50802.7578 - val_mae: 50802.7578
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 50963.7930 - mae: 50963.7930 - val_loss: 50808.4766 - val_mae: 50808.4766
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 50938.0625 - mae: 50938.0625 - val_loss: 50427.5391 - val_mae: 50427.5391
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 50851.4297 - mae: 50851.4297 - val_loss: 50919.4961 - val_mae: 50919.4961
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 51000.5898 - mae: 51000.5898 - val_loss: 50408.5312 - val_mae: 50408.5312
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 51101.3359 - mae: 51101.3359 - val_loss: 50829.8281 - val_mae: 50829.8281
Epoch 28/100
250/250 [==============================] - 1s 5ms/step - loss: 51059.5938 - mae: 51059.5938 - val_loss: 51614.1797 - val_mae: 51614.1797
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 51028.8047 - mae: 51028.8047 - val_loss: 50395.3945 - val_mae: 50395.3945
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 51169.0625 - mae: 51169.0625 - val_loss: 50487.1641 - val_mae: 50487.1641
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 51142.9453 - mae: 51142.9453 - val_loss: 50802.5586 - val_mae: 50802.5586

In [ ]:
%load_ext tensorboard

In [87]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 11332), started 0:00:18 ago. (Use '!kill 11332' to kill it.)

In [88]:
test_loss , test_mae = model.evaluate(X_test,y_test)
print(f'The Test MAE is : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50307.4492 - mae: 50307.4492
The Test MAE is : 50307.44921875

In [89]:
model.save('regressionProblem.h5')

c:\Users\ASUS\Desktop\University of Luxembourg\Udemy\Learning GenAI\NLP\Churn Classification\annclassification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(